.celular{  /*Aqui é o ativo do iphone ou celular */

   margin-right:10px;
   margin-top: -30px;
   margin-left: 770px;
}
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}



        .row-fluid {		
			 width: 900px;   /* faz a separação da no "nome" e "campo" na VERTICAL*/
			    margin-right:20px;				/*Aqui é o tamanho da margin do nome com caixa de texto*/
				margin-top: 10px;  
				margin-left: 30px;
					}						    /*Aqui termina o tamanho da margin do nome com caixa de texto*/
		
        .unit2{                    /* faz a separação da no "nome" e "campo" na HORIZONTAL*/
			width: 185px;
		      }		

			  
			.unit3{                    /* faz a separação da no "nome" e "campo" na VERTICAL*/
			width: 97px;
	        margin-top: -7px;  
		      }	 
			  
			  
			  
			  
			  

/*Esses são os botões do final da página cancelar-salvar*/
.btn.btn-info2 {
size: 5px;
   margin-right:-900px;
   margin-top: -70px;
   margin-left: 900px
}
  
 .btn.btn-info {
size: 5px;
   margin-right:-900px;
   margin-top: -70px;
   margin-left: 990px
}
  

.parte3 {											/*Aqui começa as posições dos checkbox do começo da página*/			
   size: 5px;
   margin-top: -35px;
   margin-left: 220px
}

.parte3-3{
	
	size: 5px;
   margin-top: -24px;
   margin-left: 220px
	
}

.parte4 {								
    margin-left: 220px;
	margin-top: 0px;
}

.parte5{									
 margin-left: 220px;
	margin-top: -10px;		/*padding aumenta o tamonho da palavra caixa de texto*/
}

.parte6{
  margin-left: 370px;
	margin-top: -41px;
}									  /*Aqui termina as posições dos checkbox do começo da página*/







.caixatexto{						/*Aqui é a penúltima linha do texto com o span*/
   margin-right:40px;
   margin-top: 30px;
   margin-left: 30px
}

.col-md-3{                              /*Aqui começa as áreaas de texto*/
   margin-right:850px;
   margin-top: -25px;
   margin-left: 218px
}		

.col-md-4{
   margin-right:850px;
   margin-top: -40px;
   margin-left: 218px
}	

.col-md-6{
   margin-right:850px;
   margin-top: -70px;
   margin-left: 218px
}												

.span1{
	padding:2px;
}										/*Aqui começa as áreaas de texto*/
								/*Aqui termina a penúltima linha do texto com o span*/							

								
								

legend.scheduler-border {
border-bottom:none;
}

.glyphicon.glyphicon-info-sign{
font-size:3.0em;
    margin-right: 700px;
    margin-left: -50px;
	margin-top: -5px;
	margin-bottom: 0px;
}


.text{
	font-size:1.0em;
    margin-right: 10px;
    margin-left: 40px;
	margin-top: -40px;
	margin-bottom: 0px;
	text-align:left;
}

.ico-search{
	font-size:1.0em;
    margin-right: -25px;
    margin-left: 100px;
	margin-top: 40px;
	margin-bottom: 0px;
}

.col-md-4.pull-left{
	font-size:1.0em;
    margin-right: -25px;
    margin-left: -330px;
	margin-top: 30px;
	margin-bottom: 0px;
}

.col-md-1.pull-left{
	font-size:1.0em;
    margin-right: -25px;
    margin-left: -105px;
	margin-top: 30px;
	margin-bottom: 0px;
}

.navbar-brand{

    margin-right: 25px;
    margin-left: 105px;
}
