/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/03/2016, 13:19:11
    Author     : Raphael Pizzo
*/

.celular{  /*Aqui é o ativo do iphone ou celular */

   margin-top: -4em;
   margin-left: 770px;
}
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}				/*Aqui termina o ativo do iphone ou celular */


.margembranca{
    padding: 15px;
}

     
    .btnazul{
        margin-right: 5px;
    }
    
    /*Aqui começa as configuraç~ões de cor tamanho do HEADER-MENU-CONTAINER*/
    .header-style{
        border: 1px solid #DCDCDC;
    }
    
    .menu-style{
        border: 1px solid #DCDCDC;
        height: 41em;
    }
    
    .container-style{
        height: 100%;
    }
    /*FIM das configuraç~ões de cor tamanho do HEADER-MENU-CONTAINER*/

	
    /* configurações da navbar*/
    .navbar.navbar-default.nab-branco{
        background: #FFFFFF;
    }
    .container-fluid{
        height: 4em;
    }   
    /* Fim configurações da navbar*/
    
    
      /*configurações do formulário*/
          .col-sm-9{
            margin-left: 3em;    
                }
      /*FIM das configurações do formulário*/
	  
	  em dúvidas! dhusuhsuhsduhuhduhdsu.

dsuhuhsuhsduhsdhusdh, olha só, ainda sim parece que estás me zuando! Não é querendo menosprezar o catuntinha (muito longe disso), mas para fazer isso que eu fiz a pessoa deve ter um grande e profundo conhecimento de português, saber o momento certo (ou seja avaliar o momento e o social o que quer dizer que também envolve sociologia). ;D

Mas você mesma admitiu que tem amnésia (quando disse que quem tem amnésia nunca diz que tem) ou seja tens amnésia, aliás! Deve ter esquecido que dissestes isso o que prova que tens amnésia mais uma vez uhsuhsduhsduhsduhsduh, já eu por outro lado lembro de tudo (h), dsuhuhsduhsduhsdusdu.

duhsuhsduhsduhsduhuhsd,
Então é porque atualmente o termo coxinha é usado por quem é de esquerda para dizer que alguém é de direita só que em uma conotação pejorativa Emoticon unsure. sduhuhsduhsduhsdu ia me sentir gosta xD, não digo nada ahahahahah.

Não tudo bem eu aviso xD (aliás vou explicar melhor abaixo) Emoticon grin
Não gosta não xD, e eu já sei disso dushsuhuhsduhsddhusuh.
Então, mas é por que se ele parar o que ele vai fazer? (tem muita coisa que ele pode fazer), então para não ficar no sedentários (que não é nenhum pouco recomendado nessa idade) ele dá aula.

Não não, nesse caso é só melhorar algumas coisas na introdução! ô/
Nossa coitada D:! Ninguém merece fazer uma nova introdução!
sduhsduhsduhusdhuhsd, olha não é por nada não, mas eu acho que é um pouco dos dois xD, você ser agitada e ele devagar xD.
Nossa nem me fala da prova dele, quando eu vi as dissertativas já comecei a rir por dentro! ahahahhahahaahah.
dsuhdsuhuhsduhsuhsd, imagino a cena você olhando para o seu caderno e lendo sobre a viagem dele dsuhsduhuhsduhsd.
Sem dúvidas é melhor fazer um esforço agora e passar logo, do que reprovar e ter que fazer outro TCC ano que vem Emoticon unsure

Hmmmmmmmmmm... Esclarecendo o que eu disse acima xD

Vou ver as aulas de tango para sábado (como havia lhe dito), então, acho interessante fazer as aulas de tango primeiro (o meio do ano já está ai), logo quando abrir novas turmas no dia de sábado no The Clock, fazer as aulas no sábado! Eu particularmente acho mais interessante, por que embora a aula do Fleury não seja a das melhores, depois dos puxões de orelha de ontem, o ideal (na minha opinião) é assistir as aulas deles.
Mas como eu disse, como já fizesses sua inscrição se já quiseres começar tudo bem Emoticon grin. Mas se quiseres podemos fazer dia de sábado (o que eu acho mais viável). Ufa! Bom, acredito que agora deu para sincronizar a conversa xD.
	  
               