.btnclick{								/*configuarações do botão (+)*/
	font-size:15px;
	 width: 120px;
	margin-left: 245px;
	 margin-top: 123px; 
}										/* termine aqui as configuarações do botão (+)*/

.table{                                         
	font-size:  15;
	    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 100px;
    padding-left: 80px;
  }
  
  .unitmd{                /* classe da linha escrita dentro do modal"jogadores por time" */
	  font-size:13px;
	 width: 220px;
	margin-left: 18px;
	 margin-top: 30px; 
  }						 /* termina aqui a classe do linha escrita dentro do modal "jogadores por time" */
  
  
  .btn.btn-info1{                /*botões de dentro do modal a sua posição*/
	margin-left: 185px;
	 margin-top: -33px;   
  }
  
  .btn.btn-info{
	margin-left: 265px;
	margin-top: -34px;  
  }                              /* termina aqui os botões de dentro do modal a sua posição*/
  
  .modal-dialog.modal-sm{     /*diálogo-.modal=define a largura adequada e margem do modal"tamanho".modal-lg*/
	    font-size:13px;
	 width: 350px;
	margin-left: 500px;      /*A margin-left faz com que o modal inteiro vá da direita para a esquerda*/
	 margin-top: 10px;
  }							 /*termina aqui o diálogo-.modal=define a largura adequada e margem do modal"tamanho".modal-lg*/
  
  
  
  
  
  
  
  body {					  /*começa aqui configurações da tabela zebrada*/		
  font: 120%/1.6 "Myriad Pro", Frutiger, "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
}
table {
  border-collapse: collapse;
  width: 50em;
  border: 1px solid #666;
}
thead {
  background: #ccc url(http://www.devfuria.com.br/html-css/tabelas/bar.gif) repeat-x left center;
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
}
tr:hover {
  background-color:#3d80df;
  color: #fff;
}
thead tr:hover {
  background-color: transparent;
  color: inherit;
}
tr:nth-child(even) {
    background-color: #edf5ff;
}
th {
  font-weight: normal;
  text-align: left;
}
th, td {
  padding: 0.1em 1em;/*tamanho da linha da tabela*/
}				 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 .celular{  /*Aqui é o ativo do iphone ou celular */

   margin-right:10px;
   margin-top: -38px;
   margin-left: 870px;
}
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
 
 
 
 .row-fluid {		
  font-size: 15px;
					 width: 680px;   /* faz a separação da no "nome" e "campo" na VERTICAL*/
					}
		
        .unit2{                    
		width: 130px;					/* faz a separação da no "nome" e "campo" na HORIZONTAL*/
		margin-left: 20px;
		 margin-top: 15px;
		}		
 
 
  .unit2-1{
	 width: 175px;
	  margin-top: -105px;
	margin-left: 20px;
 }
 
 .unit2-2{
	 width: 130px;
	  margin-top: -105px;
	margin-left: 20px;
 }
 
 .unit2-3{
	 width: 130px;
	  margin-top: -105px;
	margin-left: 20px;
 }
 
 .btn.btn-link{
	  width: 130px;
	  margin-top: -5px;
	margin-left: 143px;
 }
 
 .unit3{
	 width: 175px;
	  margin-top: 0px;
	margin-left: -45px;
 }
 
					 .unit3-1{
						 width: 175px;
						  margin-top: -30px;
						margin-left: 320px;
					 }
				
 
 .unit4{
	 width: 175px;
	  margin-top: -20px;
	margin-left: 337px;
 } 
 
					.unit4-1{
						 width: 175px;
						  margin-top: -30px;
						margin-left: 502px;
					 }
 
 .unit5{
	 width: 175px;
	  margin-top: -20px;
	margin-left: 530px;
 }
 
                      .unit5-1{
						 width: 175px;
						  margin-top: -24px;
						margin-left: 600px;
					 }

 .unit6{
	 width: 175px;
	  margin-top: -23px;
	margin-left: 622px;
 }

 .unit7{
	 width: 175px;
	  margin-top: 3px;
	margin-left: 20px;
 }
 
 .unit7-2{
	 width: 175px;
	  margin-top: 173px;
	margin-left: 20px;
 }
				
 
  
					 .unit15{ 
				   margin-top: -5px;
				   margin-left: 20px;
					 }

					 .unit15-1{
				   margin-top: -25px;
				   margin-left: 160px;
					 }	 
					 
									.btn.btn-link1{
							  margin-top: -32px;
				            margin-left: 490px;
									}
									
					 .unit15-2{
				   margin-top: -7px;
				   margin-left: 160px;
					 }	 
					 
		.unit30{
		 margin-top: 10px;
  margin-left: 20px;								 
	 }
	 .unit31{
		 margin-top: -25px;
  margin-left: 160px;								 
	 }
	 .unit32{
		 margin-top: -26px;
  margin-left: 230px;								 
	 }
					 
		.btn.btn-link2{
			 margin-top: -30px;
  margin-left: 290px;
		}		 
					 
		.unit33{
		 margin-top: -10px;
  margin-left: 305px;								 
	 }			 
					 
					 .unit15-3{
				   margin-top: -7px;
				   margin-left: 160px;
					 }	
					 
					.unit20{ 
				   margin-top: 5px;
				   margin-left: 20px;
					 }
					 .unit20-1{ 
				   margin-top: -25px;
				   margin-left: 160px;
					 }
					 .unit20-2{ 
				   margin-top: -5px;
				   margin-left: 160px;
					 }
					 .unit20-3{ 
				   margin-top: -5px;
				   margin-left: 160px;
					 }

	 
	 
	 
	 
	
	 .unit16-3{
         margin-top: -95px;
		margin-left: 440px;
	 }	
	 .unit16-4{
         margin-top: -22px;
		margin-left: 670px;
	 }	
	 .unit16-5{
         margin-top: -38px;
		margin-left: 815px;
	 }	
	 
	 	
	 
	 

	  .unit17{                    
		width: 130px;			
		margin-left: 20px;
		 margin-top: 45px;
		}		
 


 .unit40{
	width: 130px;			
		margin-left: 0px;
		 margin-top: 50px; 
 } 
 
 .unit40-1{
	width: 930px;			
		margin-left: 160px;
		 margin-top: -25px; 
 } 
 
 .unit40-2{
	width: 930px;			
		margin-left: 500px;
		 margin-top: -20px; 
 }
 
 .unit40-3{
	width: 930px;			
		margin-left: 160px;
		 margin-top: 10px; 
 }
 
 .unit40-4{
	width: 930px;			
		margin-left: 160px;
		 margin-top: 0px; 
 }
 
 .unit40-5{
	width: 930px;			
		margin-left: 160px;
		 margin-top: 0px; 
 }
 
						 .unit40-6{
							width: 930px;			
								margin-left: 555px;
								 margin-top: -90px; 
						 }
						 
						 .unit40-7{
							width: 930px;			
								margin-left: 503px;
								 margin-top: -25px; 
						 }
						 
						 .caixa40-8{
							width: 130px;			
								margin-left: 503px;
								 margin-top: -2px; 
						 }
						 
						 .caixa40-9{
							width: 130px;			
								margin-left: 503px;
								 margin-top: 10px; 
						 }
						 
						 
						 .unit41{
							 width: 130px;			
								margin-left: 20px;
								 margin-top: 10px; 
						 }
						 .unit41-1{
							 width: 430px;			
								margin-left: 160px;
								 margin-top: -25px; 
						 }
						 .unit41-2{
							 width: 430px;			
								margin-left: 160px;
								 margin-top: -10px; 
						 }
						 .unit41-3{
							 width: 530px;			
								margin-left: 420px;
								 margin-top: -40px; 
						 }
												
													.unit44{   
														 width: 120px;	/* faz a separação da no "nome" e "campo" na HORIZONTAL*/		
															margin-left: 20px;
															 margin-top: 0px; 
															}
													 .row-fluid1{
														 width: 660px;			
															margin-left:´10px;
															 margin-top: 0px;
													    }
													  .unit44-1{   
														 width: 120px;
															margin-left: 20px;
															 margin-top: 0px; 
															} 
															.unit44-2{   
														 width: 120px;
															margin-left: 20px;
															 margin-top: 0px; 
															}  
															.btn.btn-link5{
														    width: 120px;
															 margin-left: 170px;
															 margin-top: -30px; 
															}
															.unit44-3{   
														 width: 120px;
															margin-left: 20px;
															 margin-top: 0px; 
															}
															
															.unit44-4{   
														 width: 520px;
															margin-left: 145px;
															 margin-top: -30px; 
															}
															.unit44-5{   
														 width: 520px;
															margin-left: 20px;
															 margin-top: 0px; 
															}
															.unit44-6{   
														  width: 520px;
															margin-left: 20px;
															 margin-top: 125px; 
															}
															.caixa44-8{   
														  width: 520px;
															margin-left: 200px;
															 margin-top: -25px; 
															}
															.cax{   
														  width: 520px;
															margin-left: 200px;
															 margin-top: -40px; 
															}
						 
.unit50{
	width: 130px;			
	margin-left: 20px;
	 margin-top: 30px;
}
.unit50-1{
	width: 130px;			
	margin-left: 160px;
	 margin-top: -30px;
}
.unit50-2{
	width: 130px;			
	margin-left: 160px;
	 margin-top: -10px;
}
.unit50-3{
	width: 130px;			
	margin-left: 160px;
	 margin-top: -10px;
}	

.unit50-4{
	width: 130px;			
	margin-left: 310px;
	 margin-top: -25px;
}	
.unit50-5{
width: 130px;					
	margin-left: 20px;
 margin-top: -5px;
}	
.unit50-6{
	width: 130px;				
	margin-left: 20px;
 margin-top: 5px;
}
.unit50-7{
	width: 530px;				
	margin-left: 300px;
 margin-top: -25px;
}					 
 
 
 
 
 
 .btn.btn-info1{
	
	  margin-top: 0px;
	margin-left: 740px;
 }
 .btn.btn-info2{

	  margin-top: 0px;
	margin-left: 0px;
 }
 
 .btn.btn-link3{
	  margin-top: -65px;
	margin-left: 300px;
 }
 
 
 .btn.btn-link4{
	  margin-top: -48px;
	margin-left: 300px;
 }
 
 .btn.btn-info{

	  margin-top: -210px;
	margin-left: 770px;
 }
 
.btn.btn-default1{
	margin-top: -2px;
	margin-left: 120px;	
}








.btn.btn-default{
	margin-top: 0px;
	margin-left: 0px;	
}



 
 .navbar-brand{
		
		position: fixed center;
			margin-top: 5px;
			margin-bottom:0px ;
			margin-left:0px ;
			margin-right: 5px;
			
		padding-top: 5px; /*O padding tem um funcionamento muito similar ao do margin, porém ao invés de dar uma espaçamento
		                    externo, faz a mesma coisa que a aclasse em baixo (sheduler-border) que a margin */
		padding-right: 20px; 
		padding-bottom: 0px;
		padding-left: 5px;
		
	}
	
	
	.navbar-header {
		color:black;
	
		
	}
	
	.container{
		border: 1px solid pink;
		
	}
	

.container-fluid{ 
	font-size:1.0em;
	background-color:#fff;
    margin-right: auto;
    margin-left: auto;
	padding-right: 150px;
    padding-left: 15px;
	position: relative;
    min-height: 60px;
    padding-right: 20px;
    padding-left: 60px;
}



.divider { 
	
	background-color:#000;
	margin-bottom:10px;
}	
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px!important;
    border: 1px solid transparent;
}

.breadcrumb {
	background-color:#FFFFFF!important;
}
.btn-btn-large-btn-primary {
		position:absolute;
		top: 50px;
		left: 50px;	
	} 
/* Posicionamento dos icones Checbox e stop*/


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px!important;
    padding-left: 0px!important;
}