.celular{  /*Aqui é o ativo do iphone ou celular */


    margin-top: 0em;
    margin-left: 5em;
}
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}				/*Aqui termina o ativo do iphone ou celular */




.onoffswitch2-2{  /*Aqui é o ativo do iphone ou celular 2 */

   margin-right: 395px;
   margin-top: -35;
   margin-left: 640px;
}            
.onoffswitch2 {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch2-checkbox {
    display: none;
}
.onoffswitch2-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch2-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch2-inner:before, .onoffswitch2-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;/*alteração12->14*/
    box-sizing: border-box;
}
.onoffswitch2-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: 	#C0C0C0; color: #EEEEEE;
}
.onoffswitch2-inner:after {
    content: "OFF";
    padding-right: 10px;
	 background-color: #EEEEEE; color: #C0C0C0;/*esse aqui <-- muda a cor da letra de dentro da off*/
    text-align: right;
}
.onoffswitch2-switch {
    display: block; width: 18px; margin: 402px;
    background: #FFFFFF;         /*esse aqui <-- muda a cor da bolinha de dentro*/
    position: absolute; top: -408; bottom: 87;
    right: 55px;/*esse comando faz com que ele vá do lado esquerdo para lado direito"tamanho(56->62)"*/
    border: 2px solid #C0C0C0; border-radius: 20px;
    transition: all 0.3s ease-in 0s;  
}
.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-inner {
    margin-left: 0;
}
.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-switch {
    right: 0px; 
}                           /*Aqui termina o ativo iphone celular mais conhecido onoffswitch 2*/



	.margembranca{
    padding: 15px;
}
   
    /*Aqui começa as configuraç~ões de cor tamanho do HEADER-MENU-CONTAINER*/
    .header-style{
        border: 1px solid #DCDCDC;
    }
    
    .menu-style{
        border: 1px solid #DCDCDC;
        height: 100%;
    }
    
    .container-style{
        height: 100%;
    }
    /*FIM das configuraç~ões de cor tamanho do HEADER-MENU-CONTAINER*/
  
    /* configurações da navbar*/
    .navbar.navbar-default.nab-branco{
        background: #FFFFFF;
    }
    .container-fluid{
        height: 4em;
    }
    /* Fim configurações da navbar*/

    .breadcrumb{
        background: #FFFFFF;
    }
    /* configurações da tabela */
    .table-responsive{
        padding-top: 0%;
        padding-left: 1.1em;
    }
     

     

.btnaltura{
    padding-top: 1.8em;

}

.col-xs-3{
    height: 5%;
}


    .btnazul{
        margin-right: 3em;
        margin-left: 1em;
    }	
    
    .ligado{
            margin-top: -2em;
               margin-left: 7em;
    }	
/*	
<div class="col-md-1">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>
 
						 
	<div class="onoffswitch2-2">
    <input type="checkbox" name="onoffswitch2" class="onoffswitch2-checkbox" id="myonoffswitch2" checked>
    <label class="onoffswitch2-label" for="myonoffswitch2">
        <span class="onoffswitch2-inner"></span>
        <span class="onoffswitch2-switch"></span>
    </label>
</div>
*/