/*Esses são os botões do final da página cancelar-salvar*/
.sidebar {
 display: inline;
 width: -10%;
 top: ;
 float: right;
 position: fixed-left;
}



.unit1{
	 width: 890px;
	  margin-top: -20px;
	margin-left: -440px;
}

.unit1-1{
	 width: 130px;
	  margin-top: 5px;
	margin-left: -580px;
}

.unit1-2{
	 width: 130px;
	  margin-top: -18px;
	margin-left: -527px;
}

.unit1-3{
	 width: 130px;
	  margin-top: -18px;
	margin-left: -565px;
}

.unit2{
	 width: 130px;
	  margin-top:-73px;
	margin-left: -255px;
}

.unit2-1{
	 width: 130px;
	  margin-top: -15px;
	margin-left: -257px;
}

.unit2-2{
	 width: 130px;
	  margin-top: -15px;
	margin-left: -267px;
}

.unit3{
	 width: 330px;
	  margin-top: -101px;
	margin-left: 167px;
}

.unit3-1{
	width: 130px;
	  margin-top: -12px;
	margin-left: 120px;
} 

.unit3-2{
	 width: 130px;
	  margin-top: -15px;
	margin-left: 110px;
}



.btn.btn-info{
	 width: 130px;
	  margin-top: 5px;
	margin-left: 30px;
}

.btn.btn-info1{
	 width: 130px;
	  margin-top: 5px;
	margin-left: 300px;
}


/* make sidebar nav vertical */ 


fieldset.scheduler-border {
    border: 1px groove #ddd !important;               /*  borda da caixa*/
   padding: 0 1.4em 1.4em 1.4em !important;          /*  posição do texto cabeçalho esquerda-direita */
    margin: 0 0 1.5em 0 !important;					 /*  posição da caixa de texto*/
    -webkit-box-shadow:  0px 0px y 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.scheduler-border {
        font-size: 1.2em !important;    /*  size login */
        font-weight: bold !important;
        text-align: left !important;
        width:auto; 
        padding:0 10px;			/*  position Login right-left */
        width: 357px;                   /*  position do tamanho do espaço do login  */
    }
	
fieldset
{
    background-color:#FFFFFF; 
    width:800px;                   /*   comprimento e largura da caixa de login */
    height:200px;                      /*   comprimento e largura da caixa de login */
}

legend.scheduler-border {
border-bottom:none;
}

.glyphicon.glyphicon-info-sign{
font-size:3.0em;
    margin-right: 700px;
    margin-left: -50px;
	margin-top: -5px;
	margin-bottom: 0px;
}


.text{
	font-size:1.0em;
    margin-right: 10px;
    margin-left: 40px;
	margin-top: -40px;
	margin-bottom: 0px;
	text-align:left;
}

.ico-search{
	font-size:1.0em;
    margin-right: -25px;
    margin-left: 100px;
	margin-top: 40px;
	margin-bottom: 0px;
}







					/*começa aqui as configurações da nav-bar*/



.container-fluid{ 
	font-size:1.0em;
	background-color:#fff;
    margin-right: auto;
    margin-left: auto;
	padding-right: 150px;
    padding-left: 15px;
	position: relative;
    min-height: 60px;
    padding-right: 20px;
    padding-left: 60px;
}



.divider { 
	
	background-color:#000;
	margin-bottom:10px;
}	
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px!important;
    border: 1px solid transparent;
}

.breadcrumb {
	background-color:#FFFFFF!important;
}
.btn.btn-info {
		position:absolute;
		top: 530px!important;
		left: 950px;	
	} 
	
.btn.btn-info1{
	position:absolute;
		top: 530px!important;
		left: 540px;
}
.btn.btn-info2{
	position:absolute;
		top: 490px!important;
		left: 770px;
}
/* Posicionamento dos icones Checbox e stop*/


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-
, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px!important;
    padding-left: 0px!important;
