.navbar-brand{              /*Aqui começa as configurações da navbar */
		
		position: fixed center;
			margin-top: 10px;
			margin-bottom:0px ;
			margin-left:0px ;
			margin-right: 5px;
			
		padding-top: 5px; /*O padding tem um funcionamento muito similar ao do margin, porém ao invés de dar uma espaçamento
		                    externo, faz a mesma coisa que a aclasse em baixo (sheduler-border) que a margin */
		padding-right: 20px; 
		padding-bottom: 0px;
		padding-left: 5px;
		                                /*Aqui termina as configurações da navbar */
	}
	
	
	
	

.container-fluid{ 
	font-size:1.0em;
	background-color:#fff;
    margin-right: auto;
    margin-left: auto;
	padding-right: 150px;
    padding-left: 15px;
	position: relative;
    min-height: 60px;
    padding-right: 20px;
    padding-left: 60px;
}



.divider { 
	
	background-color:#000;
	margin-bottom:10px;
}	
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px!important;
    border: 1px solid transparent;
}

.breadcrumb {
	background-color:#FFFFFF!important;
}
.btn.btn-info {
		position:absolute;
		top: 490px!important;
		left: 940px;	
	} 
	
.btn.btn-info1{
	position:absolute;
		top: 490px!important;
		left: 720px;
}
/* Posicionamento dos icones Checbox e stop*/


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-
, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px!important;
    padding-left: 0px!important;
}
