

.nav-pills li.active a, .nav-pills li.active a:focus, .nav-pills li.active a:hover{
	
}
	
	
	color:Black;{
	background-color:#000;
	}
	
	.navbar-navbar-default{ 
		 margin-left:0px;
    width:90%;
    height:30px!important;
    margin-top:7px;
    position:absolute;
	background-color:#FFF; 

	}
		
		
		
		.col-md-4{                           /* Afastamento da margens*/ 
			position: fixed center;
			margin-top: 5px;
			margin-bottom:20px ;
			margin-left:0px ;
			margin-right: 5px;
			
		padding-top: 5px; /*O padding tem um funcionamento muito similar ao do margin, porém ao invés de dar uma espaçamento
		                    externo, faz a mesma coisa que a aclasse em baixo (sheduler-border) que a margin */
		padding-right: 20px; 
		padding-bottom: 0px;
		padding-left: 5px;	
		}
		
		.col-md-3{
		
			position: center;
			margin-top: -315px;
			margin-bottom: 20px ;
			margin-left: 10px ;
			margin-right: 5px;
			size: 500%;
		}
		
		.sombra{
			position: center;
			margin-top: -5px;
			margin-bottom: 0px;
			margin-left: -35px;
			margin-right: 0px;
			
			
		}
		
		
		
		.scheduler-border{                /* Tamanho do checkout */ 
			margin-top: 7px;
			margin-bottom:2px;
			margin-left:10px;
			margin-right: 10px;
			position: center;
			position: top!important;
		}
	
	
	
	.navbar-header {
		color:black;
	
		
	}
	
	.container{
		border: 1px solid pink;
		
	}
	

.container-fluid{ 
	font-size:1.0em;
	background-color:#fff;
    margin-right: auto;
    margin-left: auto;
	padding-right: 150px;
    padding-left: 15px;
	position: relative;
    min-height: 60px;
    padding-right: 20px;
    padding-left: 60px;
}

.divider { 
	
	background-color:#000;
	margin-bottom:10px;
}	
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px!important;
    border: 1px solid transparent;
}

.breadcrumb {
	background-color:#FFFFFF!important;
}



 *{
    box-sizing: border-box;    
}
.grafico {
    height: 200px;
    margin: 1rem auto;
    position: relative;
    width: 200px;
      } 
.recorte {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px); 
    height: 100%;
    position: absolute;
    width: 100%;
     }
.quesito {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 1000%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
     }
.sombra {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
    border: 3px solid #000;
    height: 100%;
    position: absolute;
    width: 100%;
     }

#porcion1 {
    transform: rotate(0deg);
     }

#porcion1 .quesito {
    background-color: rgba(0,0,255,.7);
    transform: rotate(70deg);
     }
#porcion2 {
    transform: rotate(70deg);
     }
#porcion2 .quesito {
    background-color: rgba(255,255,0,.7);
    transform: rotate(120deg);
     }
#porcion3 {
    transform: rotate(-170deg);
     }
#porcion3 .quesito {
    background-color: rgba(0,128,0,.7);
    transform: rotate(25deg);
     }
#porcionFin {
    transform:rotate(-145deg);
     }
#porcionFin .quesito {
    background-color: rgba(255,0,0,.7);
    transform: rotate(145deg);
     }
#porcion1 .quesito:after {
    content: attr(data-rel);
    left: 25%;
    line-height: 5;
    position: absolute;
    top: 0;
    transform: rotate(-70deg);
}
#porcion2 .quesito:after {
    content: attr(data-rel);
    left: 15%;
    position: absolute;
    top: 30%;
    transform: rotate(-190deg);
}
#porcion3 .quesito:after {
    content: attr(data-rel);
    left: 35%;
    position: absolute;
    top: 4%;
    transform: rotate(70deg);
}
#porcionFin .quesito:after {
   content: attr(data-rel);
   left: 10%;
   position: absolute;
   top: 30%;
}


